<div style="padding:0px;margin:0px">
    
    <div class="card-header">
        <div class="d-flex btnPointer">
            <div><img height="42" width="42" class="profileImgResize"
                    [src]="'https://sanjayv.github.io/ng-image-slider/contents/assets/img/slider/5.jpg'"></div>
            <div class=" mt-2">
                <p class="text-primary mx-1"> Dhiraj thakare</p>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div>
            <img [src]="mysrc.image"
                class=" mystory" style="background-repeat:no-repeat;background-size:cover;" alt=""
                srcset="">
        </div>
    </div>

</div>