.mystory {
  color: red;
  background-color: black;
  width: 100%;
  height: 80%;

  padding-top: 20%;
  padding-bottom: 20%;
}

.card-header {
  background-color: white !important;
}
.card-body {
  padding: 0px !important;
}
